<div fxLayout="column" fxLayoutAlign="center center" class="main-form">
  <form [formGroup]="predictorForm" (ngSubmit)="onSubmit()" [hidden]="isDone">
    <div fxLayout="row" fxLayoutGap="20px">
      <div>
        <mat-form-field appearance="outline">
          <mat-label>Area</mat-label>
          <mat-select formControlName="area" required name="area">
            <mat-option *ngFor="let item of metadata.Area" [value]="item">
              {{item}}
            </mat-option>
          </mat-select>
        </mat-form-field>
      </div>
      <div>
        <mat-form-field appearance="outline">
          <mat-label> Zip Code </mat-label>
          <mat-select formControlName="zip" required name="zip">
            <mat-option *ngFor="let item of metadata.Zip" [value]="item">
              {{item}}
            </mat-option>
          </mat-select>
        </mat-form-field>
      </div>
      <div>
        <mat-form-field appearance="outline">
          <mat-label>Type</mat-label>
          <mat-select formControlName="type" required name="type">
            <mat-option *ngFor="let item of metadata.Type" [value]="item">
              {{item}}
            </mat-option>
          </mat-select>
        </mat-form-field>
      </div>
      <div>
        <mat-form-field appearance="outline">
          <mat-label>Sub division</mat-label>
          <mat-select formControlName="subdivision" required name="subdivision">
            <mat-option *ngFor="let item of metadata.Subdivision" [value]="item">
              {{item}}
            </mat-option>
          </mat-select>
        </mat-form-field>
      </div>
    </div>
    <div fxLayout="row" fxLayoutGap="20px">
      <div>
        <mat-form-field appearance="outline">
          <mat-label>High School</mat-label>
          <mat-select formControlName="high_School" required name="high_School">
            <mat-option *ngFor="let item of metadata.High_School" [value]="item">
              {{item}}
            </mat-option>
          </mat-select>
        </mat-form-field>
      </div>
      <div>
        <mat-form-field appearance="outline">
          <mat-label>Middle School</mat-label>
          <mat-select formControlName="middle_School" required name="middle_School">
            <mat-option *ngFor="let item of metadata.Middle_School" [value]="item">
              {{item}}
            </mat-option>
          </mat-select>
        </mat-form-field>
      </div>
      <div>
        <mat-form-field appearance="outline">
          <mat-label>Elementary School</mat-label>
          <mat-select formControlName="elementary_School" required name="elementary_School">
            <mat-option *ngFor="let item of metadata.Elementary_School" [value]="item">
              {{item}}
            </mat-option>
          </mat-select>
        </mat-form-field>
      </div>
      <div>
        <mat-form-field appearance="outline">
          <mat-label>Pool</mat-label>
          <mat-select formControlName="pool_YN" required name="pool_YN">
            <mat-option *ngFor="let item of BoolValue" [value]="item.value">
              {{item.viewValue}}
            </mat-option>
          </mat-select>
        </mat-form-field>
      </div>
    </div>
    <div fxLayout="row" fxLayoutGap="20px">
      <div>
        <div>
          Style
        </div>
        <div class="grid-container">
          <div *ngFor="let item of metadata.Style" style="margin-right: 20px;">
            <mat-checkbox value="1" [formControlName]="item.controlName">
              {{item.value}}</mat-checkbox>
          </div>
        </div>
      </div>
    </div>
    <div fxLayout="row" fxLayoutGap="20px">
      <div>
        <div>
          Siding
        </div>
        <div class="grid-container">
          <div *ngFor="let item of metadata.Siding" style="margin-right: 20px;">
            <mat-checkbox value="1" [formControlName]="item.controlName">
              {{item.value}}</mat-checkbox>
          </div>
        </div>
      </div>
    </div>
    <div fxLayout="row" fxLayoutGap="20px">
      <div>
        <mat-form-field appearance="outline">
          <mat-label>Basement</mat-label>
          <mat-select formControlName="basement" required name="basement">
            <mat-option *ngFor="let item of BoolValue" [value]="item.value">
              {{item.viewValue}}
            </mat-option>
          </mat-select>
        </mat-form-field>
      </div>
      <div>
        <mat-form-field appearance="outline">
          <mat-label>Acres</mat-label>
          <input matInput type="number" formControlName="acres" required name="acres">
        </mat-form-field>
      </div>
      <div>
        <mat-form-field appearance="outline">
          <mat-label>New/Resale</mat-label>
          <mat-select formControlName="new_Resale" required name="new_Resale">
            <mat-option *ngFor="let item of metadata.New_Resale" [value]="item">
              {{item}}
            </mat-option>
          </mat-select>
        </mat-form-field>
      </div>
      <div>
        <mat-form-field appearance="outline">
          <mat-label>Garage</mat-label>
          <mat-select formControlName="garage_YN" required name="garage_YN">
            <mat-option *ngFor="let item of BoolValue" [value]="item.value">
              {{item.viewValue}}
            </mat-option>
          </mat-select>
        </mat-form-field>
      </div>
    </div>
    <div fxLayout="row" fxLayoutGap="20px">
      <div>
        <mat-form-field appearance="outline">
          <mat-label>Single Home Value Index</mat-label>
          <input matInput type="number" formControlName="singleFamilyZHVI" required name="singleFamilyZHVI">
        </mat-form-field>
      </div>
      <div>
        <mat-form-field appearance="outline">
          <mat-label>Bedroom Home Value Index</mat-label>
          <input matInput type="number" formControlName="bdrmZHVI" required name="bdrmZHVI">
        </mat-form-field>
      </div>
      <div>
        <mat-form-field appearance="outline">
          <mat-label>Homes Value Increase %</mat-label>
          <input matInput type="number" formControlName="pctHomesValIncr" required name="pctHomesValIncr">
        </mat-form-field>
      </div>
      <div>
        <mat-form-field appearance="outline">
          <mat-label>Original Listing Price</mat-label>
          <input matInput type="number" formControlName="original_List_Price" required name="original_List_Price">
        </mat-form-field>
      </div>
    </div>
    <div fxLayout="row" fxLayoutGap="20px">

      <div>
        <mat-form-field appearance="outline">
          <mat-label>Fixed Mortgage Avg</mat-label>
          <input matInput type="number" formControlName="yrFixedMortgageAvg" required name="yrFixedMortgageAvg">
        </mat-form-field>
      </div>
      <div>
        <mat-form-field appearance="outline">
          <mat-label>Assd Land</mat-label>
          <input matInput type="number" formControlName="assd_Land" required name="assdLand">
        </mat-form-field>
      </div>
      <div>
        <mat-form-field appearance="outline">
          <mat-label>Year Built</mat-label>
          <input matInput type="number" formControlName="year_Built" required name="year_Built">
        </mat-form-field>
      </div>
      <div>
        <mat-form-field appearance="outline">
          <mat-label>Fin SF</mat-label>
          <input matInput type="number" formControlName="fin_SF" required name="finSF">
        </mat-form-field>
      </div>
    </div>
    <div fxLayout="row" fxLayoutGap="20px">
      <div>
        <mat-form-field appearance="outline">
          <mat-label>Number of Bedrooms</mat-label>
          <input matInput type="number" formControlName="bedrooms" required name="bedrooms">
        </mat-form-field>
      </div>
      <div>
        <mat-form-field appearance="outline">
          <mat-label>Number of Rooms</mat-label>
          <input matInput type="number" formControlName="rooms" required name="rooms">
        </mat-form-field>
      </div>
      <div>
        <mat-form-field appearance="outline">
          <mat-label>Home Owner Rate </mat-label>
          <input matInput type="number" formControlName="homeownerRate" required name="homeownerRate">
        </mat-form-field>
      </div>
      <div>
        <mat-form-field appearance="outline">
          <mat-label>Unfin SF</mat-label>
          <input matInput type="number" formControlName="unfin_SF" required name="Unfin_SF">
        </mat-form-field>
      </div>
    </div>
    <div fxLayout="row" fxLayoutGap="20px">
      <div>
        <mat-form-field appearance="outline">
          <mat-label>House Price Index</mat-label>
          <input matInput type="number" formControlName="housePriceIndex" required name="housePriceIndex">
        </mat-form-field>
      </div>
      <div>
        <mat-form-field appearance="outline">
          <mat-label>Employement Ratio</mat-label>
          <input matInput type="number" formControlName="employementRatio" required name="employementRatio">
        </mat-form-field>
      </div>
      <div>
        <mat-form-field appearance="outline">
          <mat-label>Monthly Supply Houses</mat-label>
          <input matInput type="number" formControlName="monthlySupplyHouses" required name="monthlySupplyHouses">
        </mat-form-field>
      </div>
      <div>
        <mat-form-field appearance="outline">
          <mat-label>Pending Month</mat-label>
          <input matInput type="number" formControlName="pending_Month" required name="pending_month">
        </mat-form-field>
      </div>
    </div>
    <div fxLayout="row" fxLayoutGap="20px">
        <div>
            <mat-form-field appearance="outline">
              <mat-label>Pending Year</mat-label>
              <input matInput type="number" formControlName="pending_Year" required name="pending_year">
            </mat-form-field>
          </div>
      <div fxFlex>
        <div fxLayout="row" fxLayoutAlign="end center">
          <button mat-fab color="primary" type="button" (click)="fillUp()"> Test</button>
        </div>
      </div>
    </div>
    <div fxLayout="row" fxLayoutAlign="center center">
      <div fxFlexAlign="center">
        <button mat-raised-button color="accent" class="center-button" [disabled]="!predictorForm.valid" type="submit">
          Submit</button>
      </div>

    </div>
  </form>
  <div *ngIf="isDone">
    <div *ngIf="loading">
      <app-loading-spinner>
      </app-loading-spinner>
    </div>
    <div *ngIf="!loading" fxLayout="column" fxLayoutAlign="center center">
      <h2 style="text-align: center">Result</h2>
      <div class="badge">
        <p style="font-size: 85px; text-align: center;">
          {{round(result.result*100,2)}}%
        </p>
      </div>
      <p style="padding-top: 10px;">
        There is {{round(result.result*100,2)}}% certainty that listing will be sold in a week.
      </p>
      <button mat-raised-button color="primary" (click)="retry()"> Retry</button>
    </div>
  </div>

</div>
