.main-form {
  color: #fff;
  margin-top: 90px;
}

.main-form form {
  padding: 15px;
  border: 1px solid;
  border-radius: 4px;
  background: #e91e630d;
}

.center-button {
  text-align: center;
  font-size: 16px;
}

.prod-image-wrapper {
  perspective: 150px;
  height: 300px;
  padding-top: 30px;
}

.prod-image-box {
  position: relative;
  transform-style: preserve-3d;
  transform: transform 1s;
}

.prod-image-box__side {
  position: absolute;
  backface-visibility: hidden;
  user-select: none;
  margin: 0 auto;
  width: 100%;
  height: 100%;
  display: block;
  cursor: pointer;
}

.prod-image-box__front {
  transform: rotateY(0deg);
}

.prod-image-box__back {
  transform: rotateY(180deg);
}

.badge {
  background: #c2185b;
  width: 300px;
  border: 1px solid;
  border-radius: 5px;
}

.grid-container {
  display: grid;
  grid-template-columns: auto auto auto auto;
  padding: 20px;
}
