<div class="jumbo-banner" fxLayout="column">
  <div fxFlexAlign="start" style="padding: 15px;">
    <a mat-raised-button color="primary" routerLink="/predictor">
      Predictor
    </a>
  </div>
  <div class="middle" fxFlexAlign="center">
    <img src="assets/img/logo.png" height="300px">
    <h1>
      Real Estate Project
    </h1>
    <span class="sub-title">
      powered by Geo Decisions
    </span>
  </div>

</div>
