.jumbo-banner {
  height: 500px;
  background-color: #424242;
}

.jumbo-banner>* {
  color: #fff;
  text-align: center;
  font-family: 'Roboto';
}

.middle {
  padding: 5%;
}

h1 {
  font-size: 50px;
}

.sub-title {
  /* color: #ffd400;*/
  color: red;
}
